<div class="tile is-parent" id="home-page">
    <section class="tile is-child">
        <h3 class="title tile is-4">Greetings, {{serializedData.name}}!!</h3>
        {{#if serializedData.charUsers}}
        {{#each serializedData.charUsers as |charuser|}}
      
        <figure class="tile is-10">
            <img src="./assets/img/{{charuser.char.image}}.jpg" width="35%" />
        </figure>
        <h2 class="title tile is-4">Character details</h2>
        <h3 class="title is-5">Name: {{charuser.char.name}}</h3>
        <h3 class="title is-5">Rarity: {{charuser.char.rarity}}</h3>
     
         {{/each}}
    </section>

    {{else}}
    <h2>Choose a character</h2>
    {{#each characters}}
    <button type="button" class="char" value="{{id}}"> Click here to choose
            <figure class="tile is-10">
                <img src="./assets/img/{{image}}.jpg" width="35%" />
            </figure>
            <h2 class="title tile is-4">Character details</h2>
            <h3 class="title is-5">Name: {{name}}</h3>
            <h3 class="title is-5">Rarity: {{rarity}}</h3>
    </button>
    {{/each}}
    {{/if}}
</div>

<script src="/js/charSelect.js"></script>