<div class="tile is-parent">
    <section class="tile is-child">
        <h3 class="title tile is-4">Greetings, {{name}}!!</h3>
        {{#if chars}}
        {{#each chars as |char|}}
        <figure class="tile is-10">
            <img src="./assets/img/{{char.image}}.jpg" width="35%"/>
        </figure>
        <h2 class="title tile is-4">Character details</h2> 
        <h3 class="title is-5">Name: {{char.name}}</h3>
        <h3 class="title is-5">Rarity: {{char.rarity}}</h3>
        {{/each}}
    </section>
        {{else}}
        <h2>Choose a character</h2>
        {{!-- TODO need first user login logic --}}
        {{/if}} 
</div>